<!DOCTYPE html>
<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>

<body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div ng-app="myApp" ng-controller="myCtrl">

	  <div id="login_block">
		  <h3>LOGIN</h3>
		  <p>Username: <input type="text" ng-model="username"></p>
		  <p>Password: <input type="text" ng-model="password"></p>
		  <button ng-click="login_click()">Login</button>
		  <p>{{username}}</p>
		  <p>{{password}}</p>
		</div>
	  
	  <h3 ng-model="username_confirmed">{{username_confirmed}}</h3>
	  
	  <br />
	  <h3>FIND FOOD</h3>
	  <p><input type="text" ng-model="search_food_text"></p>
	  <button ng-click="search_food_click()">Search Food</button>
	  <ul id="found_foods_list">
	  	<li ng-repeat="x in search_food_data">
	  		<button ng-click="food_select_click($event)" ng-attr-id="{{x._id}}">
    			{{ x.name + ', ' + x._id }}
    		</button>
  		</li>
	  </ul>	
	  <br />
	  
	  <h3>CHECK MEAL</h3>
	  <p><input type="text" ng-model="search_meals_text"></p>
	  <button ng-click="check_meals_click()">Check Meals</button>
	  <ul id="found_meals_list">
	  	<li ng-repeat="x in search_meals_data">
	  		<button ng-click="meal_select_click($event)" ng-attr-id="{{x._id}}">
    			{{ x.name + ', ' + x._id }}
    		</button>
  		</li>
	  </ul>	
	  <br />

	  <h3>CHECK MACROS</h3>
	  <button ng-click="check_macros_click()">Check Macros</button>
	  <div id="macros_list">
	    <p ng-model="date">{{date}}</p>
	    <p ng-model="calories">{{calories}}</p>
	    <p ng-model="protein">{{protein}}</p>
	    <p ng-model="fat">{{fat}}</p>
	    <p ng-model="carbs">{{carbs}}</p>
	    <ul id="found_foods_list_macros">
	  		<li ng-repeat="x in search_food_data_macros">
	  			<button ng-click="food_select_click($event)" ng-attr-id="{{x._id}}">
    				{{ x.name + ', ' + x._id }}
    			</button>
  			</li>
	  	</ul>	
	  </div>	
	  
	  <br />
	  <h3>ADD FOOD</h3>
	  <p>Name: <input type="text" ng-model="food_name"></p>
	  <p>Grams: <input type="text" ng-model="grams"></p>
	  <p>Calories: <input type="text" ng-model="calories"></p>
	  <p>Fat: <input type="text" ng-model="fat"></p>
	  <p>Carbs: <input type="text" ng-model="carbs"></p>
	  <p>Protein: <input type="text" ng-model="protein"></p>
	  <p>Fiber: <input type="text" ng-model="fiber"></p>
	  <button ng-click="add_food_click()">Add</button>

</div>

</body>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
			$scope.login_click = function() {
				$http.post("http://localhost:3000/login", 
				{login_email: $scope.username, login_username: $scope.username, login_password: $scope.password}
				).then(function(response) {
					if (response.data.success == true) {
						var x = document.getElementById("login_block");
					    if (x.style.display === "none") {
					        x.style.display = "block";
					    } else {
					        x.style.display = "none";
					    }
						
						$scope.username_confirmed = "WELCOME " + response.data.username + "  ID: " + response.data.user_id ;
					}
					else
					{
						$scope.username_confirmed = "Failed to log in";
					}
					
		    });
   			$scope.username= "John";
    		$scope.password= "Doe";
    	}
    	
    	$scope.search_food_click = function() {
    		$http.get("http://localhost:3000/meals").then(function(response) {
        		$scope.search_food_data = response.data;
		    });
	    }
	    
	    $scope.food_select_click = function(event) {
	    	alert(event.target.id);
    		//http.get("http://localhost:3000/meals").then(function(response) {
        	//	$scope.myData = response.data;
		    //});
	    }
	    
	    $scope.check_macros_click = function() {
	    	$http.post("http://localhost:3000/someUrl", {username: "a"}).then(function(response) {
        		$scope.date = response.data.Date;
        		$scope.calories = response.data.Calories;
        		$scope.protein = response.data.Protein;
        		$scope.fat = response.data.Fat;
        		$scope.carbs = response.data.Carbs;
		    });
	    }
	    
	    $scope.check_meals_click = function() {
    		$http.get("http://localhost:3000/meals").then(function(response) {
        		$scope.search_meals_data = response.data;
		  	});
		  }
		  
		  $scope.meal_select_click = function(event) {
	    	alert(event.target.id);
    		//http.get("http://localhost:3000/meals").then(function(response) {
        	//	$scope.myData = response.data;
		    //});
	    }
});
</script>

</html>