<!DOCTYPE html>
<html>
<!--<head>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
</head>-->

<head>

    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>

    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.11.2/ui-bootstrap-tpls.min.js"></script>-->
    <!--<script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-sortable/0.13.2/sortable.min.js"></script>-->

    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.css">

	<script src="https://cdn.jsdelivr.net/npm/chart.js@2.7.2/dist/Chart.js"></script>
    <!--<link rel="stylesheet" href="style.css" />-->
    
    <script>
		  $( function() {
		  	$body = $("body");
		  	
		  	$( "#meal_size_select" ).selectmenu();
		  	$( "#meal_size_edit" ).selectmenu();
		  	$( "#food_size_edit" ).selectmenu();
		  	$( "#food_create_amount_type" ).selectmenu();
		  	
		  	$( ".spinner" ).spinner({
		   		step: 10, 
            	min: 0, 
            	max: 10000
		   	});
		   	
		   	$( ".spinner_bp" ).spinner({
		   		step: 5, 
            	min: 0, 
            	max: 10000
		   	});
		   	
		   	$( ".spinner_bf" ).spinner({
		   		step: 1, 
            	min: 0, 
            	max: 100
		   	});
		   	
		    $( "#tabs" ).tabs();
		  	} );
		  
		  	$( function() {
			   	$(".accordion").accordion({
			      //heightStyle: "fill"
			      heightStyle: "content",
			      widthStyle: "content"
			    });
		 
		    $( "#accordion-resizer" ).resizable({
		      minHeight: 300,
		      minWidth: 100,
		      resize: function() {
		        $(".accordionHeader").accordion( "refresh" );
		      }
		    });
		    
		    //$( "#logout_button" ).button().on( "click", function() {
      	//	dialog.dialog( "open" );
    		//});
		    

				$("#login_dialog").dialog({
				    autoOpen: false,
				    show: {
				        effect: "fade",
				        duration: 500
				    },
				    hide: {
				        effect: "fade",
				        duration: 250
				    }
				});
				
				//Initialize dialog
				$("#create_account_dialog").dialog({
				    autoOpen: false,
				    show: {
				        effect: "fade",
				        duration: 500
				    },
				    hide: {
				        effect: "fade",
				        duration: 250
				    }
				});
				
				 //Initialize dialog
				$("#edit_meal_dialog").dialog({
				    autoOpen: false,
				    show: {
				        effect: "fade",
				        duration: 500
				    },
				    hide: {
				        effect: "fade",
				        duration: 250
				    }
				});
				
				 //Initialize dialog
				$("#edit_food_dialog").dialog({
				    autoOpen: false,
				    show: {
				        effect: "fade",
				        duration: 500
				    },
				    hide: {
				        effect: "fade",
				        duration: 250
				    }
				});
				
				$( "#edit_meal_date" ).datepicker();
				$( "#edit_meal_date" ).datepicker("setDate", new Date());
				
				$( "#pu_date" ).datepicker();
				$( "#pu_date" ).datepicker("setDate", new Date());
				
				
				//$("#edit_meal_dialog").dialog("open");
				
				//Open it when #opener is clicked
				$("#logout_button").click(function () {
						$("#create_account_dialog").dialog('close');
				    $("#login_dialog").dialog("open");
				});
				
				//Open it when #opener is clicked
				$("#login_create_account").click(function () {
						$("#login_dialog").dialog('close');
				    $("#create_account_dialog").dialog("open");
				});
				//When the button in the form is clicked, take the input value and set that as the value of `.myTarget`
				$('.formSaver').on('click', function () {
				    $('.myTarget').text($('.myInput').val());
				    $("#login_dialog").dialog('close');
				});
		    //When the button in the form is clicked, take the input value and set that as the value of `.myTarget`
				$('.edit_food_button').click(function () {
				    $("#edit_food_dialog").dialog("open");
				});
		    //When the button in the form is clicked, take the input value and set that as the value of `.myTarget`
				$('.edit_meal_button').click(function () {
				    $("#edit_meal_dialog").dialog("open");
				});
				$('#discard_edit_meal_button').click(function () {
				    $("#edit_meal_dialog").dialog("close");
				});
		    //When the button in the form is clicked, take the input value and set that as the value of `.myTarget`
				$('#discard_edit_food_button').click(function () {
				    $("#edit_food_dialog").dialog("close");
				});
		    
	  	} );
	  	
	  	
	  </script>
	  	
	  <style>
	  	
	  	table {
	    font-family: arial, sans-serif;
	    border-collapse: collapse;
	    width: 50%;
	    font-size: 75%;
		}
		td, th {
		    border: 1px solid #dddddd;
		    text-align: left;
		    padding: 8px;
		}
		tr:nth-child(even) {
		    background-color: #dddddd;
		}
	  	.logout_button {
	  		position: absolute;
		    right: 0;
		    top: 0;
		    text-align: center;
	  	}
	  	
	  	#account_button {
	  		position: absolute;
		    text-align:center;
		    left: 50%;
		    top: 0;
		    visibility: hidden;
	  	}
	  	
	  	#login_dialog {
      	display:none;
      }
      
      #create_account_dialog {
      	display:none;
      }
      
      #edit_meal_dialog {
      	display:none;
      }
      
      #edit_food_dialog {
      	display:none;
      }
      #hidden_stuff {
      	display:none;
      }
      #rem_mac_graph{
      	position: relative;
      }
      .container_a{
      	max-width: 300;
      	width:80%;
      }
	  </style>
</head>

<body>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

<div id="hidden_stuff">
	<div ng-model="saved"></div>
</div>

<div ng-app="myApp" ng-controller="myCtrl">
	
	<div id="login_dialog" title="LOGIN">
    <p>Username: <br/><input type="text" ng-model="username"></p>
		<p>Password: <br/><input type="text" ng-model="password"></p>
		<button ng-click="login_click()">Login</button>
		<br/><br/>
		<button id="login_create_account" ng-click="login_create_account_click()">Create New Account</button>
		<p>{{username}}</p>
		<p>{{password}}</p>
  </div>
    
  <div id="create_account_dialog" title="CREATE ACCOUNT">
  	<label for="username label">Username: </label>
    <input type="text" id="username" name="username" ng-model="new_username" />
    <label for="email label">Email: </label>
    <input type="text" id="email" name="email" ng-model="new_email" />
    <label for="password label">Password: </label>
    <input type="text" id="password" name="password" ng-model="new_password" />
    <label for="password conf label">Password Conformation: </label>
    <input type="text" id="passwordConf" name="passwordConf" ng-model="new_passwordConf" />
    <button ng-click="create_account_click()">Create</button>
  </div>
	
  <div id="edit_meal_dialog" title="EDIT MEAL">
  	<select name="meal_size_edit" id="meal_size_edit">
			<option selected="selected">Grams</option>
			<option>Ounces</option>
		</select>
  	<label for="amount">Amount: </label>
    <input type="text" id="edit_meal_amount" name="edit_meal_amount" ng-model="edit_meal_amount" />
    <label for="date">Date: </label>
    <input type="text" id="edit_meal_date" name="edit_meal_date" ng-model="edit_meal_date" />
    <label for="edit_meal_calories">Calories: </label>
    <p ng-model="edit_meal_calories">{{edit_meal_calories}}</p>
    <label for="edit_meal_fat">Fat: </label>
    <p ng-model="edit_meal_fat">{{edit_meal_fat}}</p>
    <label for="edit_meal_carbs">Carbs: </label>
    <p ng-model="edit_meal_carbs">{{edit_meal_carbs}}</p>
    <label for="edit_meal_protein">Protein: </label>
    <p ng-model="edit_meal_protein">{{edit_meal_protein}}</p>
    <label for="edit_meal_fiber">Fiber: </label>
    <p ng-model="edit_meal_fiber">{{edit_meal_fiber}}</p>
    <button ng-click="save_edit_meal()">Save</button>
    <button ng-click="delete_edit_meal()">Delete</button>
    <button id="discard_edit_meal_button">Discard</button>
  </div>
	
  <div id="edit_food_dialog" title="EDIT FOOD">
	<label for="name">Name: </label>
    <input type="text" id="edit_food_name" name="edit_food_name" ng-model="edit_food_name" />
    <select name="food_size_edit" id="food_size_edit">
			<option selected="selected">Grams</option>
			<option>Ounces</option>
		</select>
  	<label for="amount">Amount: </label>
    <input type="text" id="edit_food_amount" name="edit_food_amount" ng-model="edit_food_amount" />
    <label for="edit_calories_food">Calories: </label>
    <input type="text" id="edit_food_calories" name="edit_food_calories" ng-model="edit_food_calories" />
    <label for="edit_food_fat">Fat: </label>
    <input type="text" id="edit_food_fat" name="edit_food_fat" ng-model="edit_food_fat" />
    <label for="edit_food_carbs">Carbs: </label>
    <input type="text" id="edit_food_carbs" name="edit_food_carbs" ng-model="edit_food_carbs" />
    <label for="edit_food_protein">Protein: </label>
    <input type="text" id="edit_food_protein" name="edit_food_protein" ng-model="edit_food_protein" />
    <label for="edit_food_fiber">Fiber: </label>
    <input type="text" id="edit_food_fiber" name="edit_food_fiber" ng-model="edit_food_fiber" />
    <button ng-click="save_edit_food()">More Fields</button>
    <button ng-click="create_food_dialog_click()">Create New</button>
    <button id="discard_edit_food_button">Discard</button>
  </div>
    
	<div class="header">
		<p>MACROFIT</p>
		<button id="account_button" class="account_button ui-button" ng-click="account_button_click()" ng-model="username_account_button">{{username_account_button}}</p>
		<button id="logout_button" class="logout_button ui-button" ng-click="logout_click()" ng-model="login_logout_button_text" ng-init="login_logout_button_text ='LOGIN'">{{login_logout_button_text}}</button>
	</div>

	<div id="tabs">
	  <ul>
	    <li><a href="#tabs-1">Profile</a></li>
	    <li><a href="#tabs-2">Log</a></li>
	    <li><a href="#tabs-3">Progress</a></li>
	    <li><a href="#tabs-4">Create</a></li>
	    <li><a href="#tabs-5">Goals</a></li>
	  </ul>
	  
	  <div id="tabs-1">
			<div class="accordion">
				<h3>LOGIN</h3>
				<div>
					<p>Username: <br/><input type="text" ng-model="username"></p>
					<p>Password: <br/><input type="text" ng-model="password"></p>
					<button ng-click="login_click()">Login</button>
					<p>{{username}}</p>
					<p>{{password}}</p>
				  
				  <p ng-model="username_confirmed">{{username_confirmed}}</p>
				</div>
				<h3>ACCOUNT</h3>
				<div>
					<p>account goes here</p>
				</div>
				<h3>PERSONAL STATS</h3>
				<div>
					<p>stats go here</p>
				</div>
				<h3>SETTINGS</h3>
				<div>
					<p>settings go here</p>
				</div>
			</div>
	  </div>
	  
	  
	  <div id="tabs-2">
	  	<div class="accordion">
		    <h3>FIND FOOD</h3>
		    	<div>
					  <p><input type="text" ng-model="search_food_text"></p>
					  <button ng-click="search_food_click()">Search Food</button>
					  <ul id="found_foods_list">
					  	<li ng-repeat="x in search_food_data">
					  		<div>
					  			<h3>{{x.Name}}</h3>
					  			<table>
					  			  <tr>
								    <th>Serving Size</th>
								    <th>{{x.Grams}}</th>
								  </tr>
								  <tr>
								    <th>Calories</th>
								    <th>{{x.Calories}}</th>
								  </tr>
								  <tr>
								    <th>Fat</th>
								    <th>{{x.Fat}}</th>
								  </tr>
								  <tr>
								    <th>Carbs</th>
								    <th>{{x.Carbs}}</th>
								  </tr>
								  <tr>
								    <th>Protein</th>
								    <th>{{x.Protein}}</th>
								  </tr>
								  <tr>
								    <th>Fiber</th>
								    <th>{{x.Fiber}}</th>
								  </tr>
								  <tr>
								    <th>Grams: <input class="spinner" name="value" ng-attr-id="{{ 'add_meal_grams-' + x._id}}" style="width:30%;">{{load_spinner()}}</th>
								    <th><button ng-click="food_select_click($event)" ng-attr-id="{{x._id}}">ADD</button></th>
								  </tr>
								  <tr>
								    <th>Edit Food: </th>
								    <th><button ng-attr-class="edit_food_button" ng-click="food_edit_click($event)" ng-attr-id="{{x._id}}">EDIT</button></th>
								  </tr>
								</table>

						  		<!--<button ng-click="food_select_click($event)" ng-attr-id="{{x._id}}">add</button>-->
				    		</div>
				  		</li>
					  </ul>
					  <label for="meal_size_select">Unit Type:</label>
					  <select name="meal_size_select" id="meal_size_select">
      				<option selected="selected">Grams</option>
      				<option>Ounces</option>
    				</select>
					  <input class="spinner" type="text" ng-model="add_meal_grams">
					  <p ng-model="add_meal_confirmed">{{add_meal_confirmed}}</p>
				  </div>
				  
				  <h3>CHECK MEAL</h3>
				  <div>
					  <p><input type="text" ng-model="search_meals_text"></p>
					  <button ng-click="check_meals_click()">Check Meals</button>
					  <ul id="found_meals_list">
					  	<li ng-repeat="x in search_meals_data">

					  		<div>
					  			<h3>meal</h3>
					  			<table>
					  		  <tr>
								    <th>Food Name</th>
								    <th>{{x.Food_Name}}</th>
								  </tr>
					  			<tr>
								    <th>Size</th>
								    <th>{{x.Grams}}</th>
								  </tr>
								  <tr>
								    <th>Calories</th>
								    <th>{{x.Calories}}</th>
								  </tr>
								  <tr>
								    <th>Fat</th>
								    <th>{{x.Fat}}</th>
								  </tr>
								  <tr>
								    <th>Carbs</th>
								    <th>{{x.Carbs}}</th>
								  </tr>
								  <tr>
								    <th>Protein</th>
								    <th>{{x.Protein}}</th>
								  </tr>
								  <tr>
								    <th>Fiber</th>
								    <th>{{x.Fiber}}</th>
								  </tr>
								  <tr>
								    <th>Edit:</th>
								    <th><button ng-attr-class="edit_food_button" ng-click="meal_edit_click($event)" ng-attr-id="{{x._id}}">edit</button></th>
								  </tr>
								  <tr>
								    <th>Delete:</th>
								    <th><button ng-click="meal_select_click($event)" ng-attr-id="{{x._id}}">delete</button></th>
								  </tr>
								</table>

						  		<!--<button ng-click="food_select_click($event)" ng-attr-id="{{x._id}}">add</button>-->
				    		</div>

					  		<div>
					  			<p>{{x.Name}}</p>
						  		<button ng-click="meal_select_click($event)" ng-attr-id="{{x._id}}">delete</button>
					    	</div>
				  		</li>
					  </ul>	
				  </div>
				  
				  <h3>LOG PROGRESS UPDATE</h3>
		    	<div>
						<label for="date">Date: </label>
    				<input type="text" id="pu_date" name="pu_date" ng-model="pu_date" />
    				<label for="me">Unit Type:</label>
					  <select name="me" id="me">
      				<option selected="selected">Pounds</option>
      				<option>Kilograms</option>
    				</select>
					  <p>Weight: <br/><input type="text" ng-model="weight_pu"></p>
					  <p>Blood Pressue: <br/><input class="spinner_bp" type="text" ng-model="bp_over_pu"><input class="spinner_bp" type="text" ng-model="bp_under_pu"></p>
					  <p>Body Fat Percentage: <br/><input class="spinner_bf" type="text" ng-model="bf_pu"></p>
					  <button ng-click="progress_update_click()">Add</button>
					  <p ng-model="add_progress_confirmed">{{add_progress_confirmed}}</p>
				  </div>
				  
					<h3>FIND EXERCISE</h3>
					<div>
						<p>exercise go here</p>
					</div>
					<h3>CHECK EXERCISES</h3>
					<div>
						<p>exercise go here</p>
					</div>
			</div>
	  </div>
	  
	  
	  <div id="tabs-3">
	  	<div class="container_a">
	  	<div class="accordion">
				<h3>CURRENT MACROS</h3>
				<div>
				  <button ng-click="check_macros_click()">Check Current Macro</button>
				  <div id="current_macros_list">
				    <p ng-model="date">{{date}}</p>
				    
				    <h3>Current Macros</h3>
		  			<table>
					  <tr>
					    <th>Calories</th>
					    <th><p ng-model="calories">{{calories}}</p></th>
					  </tr>
					  <tr>
					    <th>Fat</th>
					    <th><p ng-model="fat">{{fat}}</p></th>
					  </tr>
					  <tr>
					    <th>Carbs</th>
					    <th><p ng-model="carbs">{{carbs}}</p></th>
					  </tr>
					  <tr>
					    <th>Protein</th>
					    <th><p ng-model="protein">{{protein}}</p></th>
					  </tr>
					  <tr>
					    <th>Fiber</th>
					    <th><p ng-model="fiber">{{fiber}}</p></th>
					  </tr>
					</table>	
				  </div>

			  </div>
			  	
			  <h3>REMAINING MACROS</h3>
			  <div id="rem_mac_accordion">
				  <button ng-click="get_rem_click()">Get remaining macros</button>

				  <div id="remaining_macros_list">

		  			<h3>Remaining Macros</h3>
		  			<table>
					  <tr>
					    <th>Calories</th>
					    <th><p ng-model="cal_rem">{{cal_rem}}</p></th>
					  </tr>
					  <tr>
					    <th>Fat</th>
					    <th><p ng-model="fat_rem">{{fat_rem}}</p></th>
					  </tr>
					  <tr>
					    <th>Carbs</th>
					    <th><p ng-model="carb_rem">{{carb_rem}}</p></th>
					  </tr>
					  <tr>
					    <th>Protein</th>
					    <th><p ng-model="pro_rem">{{pro_rem}}</p></th>
					  </tr>
					  <tr>
					    <th>Fiber</th>
					    <th><p ng-model="fib_rem">{{fib_rem}}</p></th>
					  </tr>
					</table>
				    
				    <div>
				    <div id="rem_mac_graph" height="20%" width="60%">
						<canvas id="myPieChart" width="400" height="400"></canvas>
					</div>
					</div>

				  </div>
			  </div>
				<h3>CHECK PROGRESS</h3>
			  <div>
			  	<p>progress reporting will go here</p>
			  </div>
			  <h3>CHECK EXERCISE</h3>
				<div>
					<p>exercise go here</p>
				</div>
				<h3>REMAINING EXERCISE</h3>
				<div>
					<p>exercise go here</p>
				</div>
			</div>
		</div>
	  </div>
	  
	  
	  <div id="tabs-4">
	  	<div class="accordion">
	    	<h3>CREATE FOOD</h3>
	    	<div>
				  <p>Name: <br/><input type="text" ng-model="create_food_name"></p>
				  <select name="food_create_amount_type" id="food_create_amount_type">
						<option selected="selected">Grams</option>
						<option>Ounces</option>
					</select>
				  <p><br/><input type="text" ng-model="create_grams"></p>
				  <p>Calories: <br/><input type="text" ng-model="create_calories"></p>
				  <p>Fat: <br/><input type="text" ng-model="create_fat"></p>
				  <p>Carbs: <br/><input type="text" ng-model="create_carbs"></p>
				  <p>Protein: <br/><input type="text" ng-model="create_protein"></p>
				  <p>Fiber: <br/><input type="text" ng-model="create_fiber"></p>
				  <button ng-click="create_food_click()">Add</button>

				  <p ng-model="create_food_confirmed">{{create_food_confirmed}}</p>
			  </div>
			  <h3>EDIT FOOD</h3>
	    	<div>
	    		<p>edit food will go here</p>
	    	</div>
	    	<h3>CREATE EXERCISE MOVE</h3>
				<div>
					<p>exercise go here</p>
				</div>
				<h3>EDIT EXERCISE MOVE</h3>
				<div>
					<p>exercise go here</p>
				</div>
			</div>
	  </div>
	  
	  
	  <div id="tabs-5">
	  	<div class="accordion">
		  	<h3>CREATE MACRO GOAL</h3>
		  	<div>
				  <p>Calories: <br/><input type="text" ng-model="goal_calories"></p>
				  <p>Fat: <br/><input type="text" ng-model="goal_fat"></p>
				  <p>Carbs: <br/><input type="text" ng-model="goal_carbs"></p>
				  <p>Protein: <br/><input type="text" ng-model="goal_protein"></p>
				  <p>Fiber: <br/><input type="text" ng-model="goal_fiber"></p>
				  <button ng-click="create_goal_click()">Add</button>

				  <p ng-model="create_goal_confirmed">{{create_goal_confirmed}}</p>
				</div>
				<h3>CREATE EXERCISE GOAL</h3>
				<div>
					<p>exercise go here</p>
				</div>
				<h3>CURRENT GOALS</h3>
		  	<div>
					  <p><input type="text" ng-model="search_goals_text"></p>
					  <button ng-click="search_goals_click()">Search Goals</button>
					  <ul id="found_goals_list">
					  	<li ng-repeat="x in search_goals_data">
					  		<div>
					  			<h3>Goal</h3>
					  			<table>
					  			<tr>
								    <th>Active</th>
								    <th>{{x.Active}}</th>
								  </tr>
								  <tr>
								    <th>Entry Date</th>
								    <th>{{x.Entry_Date}}</th>
								  </tr>
								  <tr>
								    <th>Calories</th>
								    <th>{{x.Calories}}</th>
								  </tr>
								  <tr>
								    <th>Fat</th>
								    <th>{{x.Fat}}</th>
								  </tr>
								  <tr>
								    <th>Carbs</th>
								    <th>{{x.Carbs}}</th>
								  </tr>
								  <tr>
								    <th>Protein</th>
								    <th>{{x.Protein}}</th>
								  </tr>
								  <tr>
								    <th>Fiber</th>
								    <th>{{x.Fiber}}</th>
								  </tr>
								  <tr>
								    <th>Edit Food: </th>
								    <th><button ng-attr-class="edit_goal_button" ng-click="edit_goal_click($event)" ng-attr-id="{{x._id}}">EDIT</button></th>
								  </tr>
								</table>
				    		</div>
				  		</li>
					  </ul>
				  </div>
			</div>
	  </div>
	  
	</div>

</div>

</body>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
			$scope.login_click = function() {
				$http.post("http://localhost:3000/login", 
				{login_email: $scope.username, login_username: $scope.username, login_password: $scope.password}
				).then(function(response) {
					if (response.data.success == true) {
						/*var x = document.getElementById("login_block");
					    if (x.style.display === "none") {
					        x.style.display = "block";
					    } else {
					        x.style.display = "none";
					    }*/
						
						$scope.username_confirmed = "WELCOME " + response.data.username + "  ID: " + response.data.user_id ;
						$scope.username_account_button = response.data.username + " ACCOUNT INFO";
						document.getElementById("account_button").style.visibility = "visible";
						$scope.login_logout_button_text = "LOGOUT";
						$("#login_dialog").dialog("close");
						
					}
					else
					{
						$scope.username_confirmed = "Failed to log in";
					}
						
			  });
	   		//$scope.username= "John";
	    	//$scope.password= "Doe";
    	}
    	
    	$scope.create_account_click = function() {
				$http.post("http://localhost:3000/login", 
				{email: $scope.new_username, username: $scope.new_email, password: $scope.new_password, passwordConf: $scope.new_passwordConf}
				).then(function(response) {
					if (response.data.success == true) {
						var x = document.getElementById("login_block");
					    if (x.style.display === "none") {
					        x.style.display = "block";
					    } else {
					        x.style.display = "none";
					    }
						
						$scope.username_confirmed = "WELCOME " + response.data.username + "  ID: " + response.data.user_id ;
						$scope.username_account_button = response.data.username + " ACCOUNT INFO";
						document.getElementById("account_button").style.visibility = "visible";
						$scope.login_logout_button_text = "LOGOUT";
						$("#create_account_dialog").dialog("close");
					}
					else
					{
						$scope.username_confirmed = "Failed to log in";
					}
						
			  });
	   		//$scope.username= "John";
	    	//$scope.password= "Doe";
    	}
    	
    	$scope.search_food_click = function() {
    		$body.addClass("loading");
    		$http.get("http://localhost:3000/food").then(function(response) {//$http.get("http://localhost:3000/food").then(function(response) {
        		$scope.search_food_data = response.data;
		    });
		    $body.removeClass("loading");
	    }
	    $scope.search_goals_click = function() {
    		$http.get("http://localhost:3000/goal").then(function(response) {
        		$scope.search_goals_data = response.data;
		    });
	    }
	    $scope.food_select_click = function(event) {
    		$http.post("http://localhost:3000/meal", 
			{food_id: event.target.id, grams: $scope.add_meal_grams}
			).then(function(response) {
				if (response.data.success == true) {		
					$scope.add_meal_confirmed = "SUCCESS";
				}
				else
				{
					$scope.add_meal_confirmed = "Failed to add meal";
				}
					
		    });
	    }
	    
	    $scope.check_macros_click = function() {
	    	//$http.post("http://localhost:3000/macros", {username: "a"}).then(function(response) {
	    	$http.get("http://localhost:3000/macro").then(function(response) {
	    		//alert(response.data);
        		//$scope.date = response.data.Date;
        		$scope.calories = response.data.Calories;
        		$scope.protein = response.data.Protein;
        		$scope.fat = response.data.Fat;
        		$scope.carbs = response.data.Carbs;
        		$scope.fiber = response.data.Fiber;
		    });
	    }
	    
	    $scope.check_meals_click = function() {
    		$http.get("http://localhost:3000/meal/today").then(function(response) {
        		$scope.search_meals_data = response.data;
		  	});
		  }
		  
		  $scope.meal_select_click = function(event) {
	    	alert(event.target.id);
    		//http.get("http://localhost:3000/meals").then(function(response) {
        	//	$scope.myData = response.data;
		    //});
	    }
	    $scope.create_food_click = function() {
	    	//$("#loading_dialog").dialog("open");
			$http.post("http://localhost:3000/food", //$http.post("http://localhost:3000/create_food", 
			{name: $scope.create_food_name, grams: $scope.create_grams, calories: $scope.create_calories, fat: $scope.create_fat, carbs: $scope.create_carbs, protein: $scope.create_protein, fiber: $scope.create_fiber}
			).then(function(response) {
				if (response.data.success == true) {
					//$("#loading_dialog").dialog("close");
					//$("#success_dialog").dialog("open");	
					$scope.create_food_confirmed = "SUCCESS";
				}
				else
				{
					$scope.create_food_confirmed = "Failed to create food";
				}
					
		    });
    	}
    	$scope.create_goal_click = function() {
    		//$("#loading_dialog").dialog("open");
			$http.post("http://localhost:3000/goal/macro", 
			{calories: $scope.goal_calories, fat: $scope.goal_fat, carbs: $scope.goal_carbs, protein: $scope.goal_protein, fiber: $scope.goal_fiber}
			).then(function(response) {
				if (response.data.success == true) {	
					//$("#loading_dialog").dialog("close");
					//$("#success_dialog").dialog("open");	
					$scope.create_goal_confirmed = "SUCCESS";
				}
				else
				{
					$scope.create_goal_confirmed = "Failed to create goal";
				}
					
		    });
    	}
    	$scope.get_rem_click = function() {
    		$("#loading_dialog").dialog("open");
    		var k;
    		for (k=0; k<100000; k++)
    		{
    			
    		}
	    	//$http.post("http://localhost:3000/macros", {username: "a"}).then(function(response) {
	    	$http.get("http://localhost:3000/macro/remaining").then(function(response) {
	    		//alert(response.data.Calories);
	    		if (response.data.no_goal == true)
	    		{
	    			$scope.cal_rem = "no goal set";
	    		}
	    		else
	    		{
	        		$scope.cal_rem = response.data.Calories;
	        		$scope.pro_rem = response.data.Protein;
	        		$scope.fat_rem = response.data.Fat;
	        		$scope.carb_rem = response.data.Carbs;
	        		$scope.fib_rem = response.data.Fiber;
	        		var ctx = document.getElementById("myPieChart");
					var myPieChart = new Chart(ctx, {
					    type: 'pie',
					    data: {
					        labels: ["Fat", "Carbs", "Protein"],
					        datasets: [{
					            label: 'Remaining Macros',
					            data: [response.data.Fat, response.data.Carbs, response.data.Protein],
					            backgroundColor: [
					                'rgba(255, 99, 132, 0.2)',
					                'rgba(54, 162, 235, 0.2)',
					                'rgba(255, 206, 86, 0.2)'
					            ],
					            borderColor: [
					                'rgba(255,99,132,1)',
					                'rgba(54, 162, 235, 1)',
					                'rgba(255, 206, 86, 1)'
					            ],
					            borderWidth: 1
					        }]
					    },
					    options: {}
					});
	        	}
		    });
			$("#loading_dialog").dialog("close");
			/*$(window).resize(function(){
			    $("#rem_mac_accordion").accordion("refresh");
			});*/
	    }
	    $scope.load_spinner = function()
		{
		   $( ".spinner" ).spinner({
		   		step: 10, 
            	min: 0, 
            	max: 10000
		   });
		}
		$scope.meal_edit_click = function(event)
		{
			$http.get("http://localhost:3000/meal/" + event.target.id).then(function(response) {
				document.getElementById("edit_meal_amount").value = response.data.Grams;
				$scope.edit_meal_calories =response.data.Calories;
				$scope.edit_meal_fat =response.data.Fat;
				$scope.edit_meal_carbs =response.data.Carbs;
				$scope.edit_meal_protein =response.data.Protein;
				$scope.edit_meal_fiber =response.data.Fiber;
				$("#edit_meal_dialog").dialog("open");
			})
		}
		$scope.food_edit_click = function(event)
		{
			$http.get("http://localhost:3000/food/" + event.target.id).then(function(response) {
				$("#edit_food_dialog").dialog("open");
				document.getElementById("edit_food_name").value = response.data.Name;
				document.getElementById("edit_food_amount").value = response.data.Grams;
				document.getElementById("edit_food_calories").value = response.data.Calories;
				document.getElementById("edit_food_fat").value = response.data.Fat;
				document.getElementById("edit_food_carbs").value = response.data.Carbs;
				document.getElementById("edit_food_protein").value = response.data.Protein;
				document.getElementById("edit_food_fiber").value = response.data.Fiber;
				$scope.edit_food_name = response.data.Name;
				$scope.edit_food_amount = response.data.Grams;
				$scope.edit_food_calories = response.data.Calories;
				$scope.edit_food_fat = response.data.Fat;
				$scope.edit_food_carbs = response.data.Carbs;
				$scope.edit_food_protein = response.data.Protein;
				$scope.edit_food_fiber = response.data.Fiber;
			})
		}
		$scope.create_food_dialog_click = function()
		{
			alert( $scope.edit_food_name +  $scope.edit_food_amount +  $scope.edit_food_calories +  $scope.edit_food_fat +  $scope.edit_food_carbs +  $scope.edit_food_protein +  $scope.edit_food_fiber);
			$http.post("http://localhost:3000/food", //$http.post("http://localhost:3000/create_food", 
			{name: $scope.edit_food_name, grams: $scope.edit_food_amount, calories: $scope.edit_food_calories, fat: $scope.edit_food_fat, carbs: $scope.edit_food_carbs, protein: $scope.edit_food_protein, fiber: $scope.edit_food_fiber}
			).then(function(response) {
				if (response.data.success == true) {		
					$("#edit_food_dialog").dialog("close");
				}
				else
				{
					//do somthing
					alert("failed");
				}
					
		    });
		}
		
});
</script>

</html>